<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/siteBrown.css" />
</head>
<body>
    <div id="header">
        <h1><a href="/Index">Practical 2</a></h1>
        <h2>Enterprise Development Project</h2>
    </div>
    <div id="menu">
        <ul>
            <li><a class="nav-link text-light" asp-page="/Index">Home</a></li>
            <li><a class="nav-link text-light" asp-page="/Privacy">Privacy</a></li>
        </ul>
    </div>
    <div class="container"  >
        @RenderBody()
    </div>
    <footer class="border-top footer">
        <div class="container">
            &copy; 2021 - Enterprise Development Project - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
